.aboutsection {
  display: flex;
  padding-bottom: 172px;
  flex-wrap: wrap;
  align-items: center;

  &__content {
    width: 855px;
    h1 {
      padding-top: 130px;
      padding-left: 110px;
      margin-bottom: 29px;
      font-family: Arial;
      font-size: 40px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0%;
      text-align: left;
    }

    h3 {
      color: rgb(0, 0, 0);
      padding-left: 110px;
      font-family: Arial;
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;

      text-align: left;
      margin-bottom: 30px;
    }
    p {
      position: relative;
      padding-left: 180px;
      font-family: Arial;
      font-size: 20px;
      max-width: 800px;
      line-height: 23px;
   
      text-align: left;
      padding-bottom: 15px;
      &::before {
        content: "";
        position: absolute;
        left: 160px;
        top: 30%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
      }
    }
  }
  &__img {
    flex: 1;
    padding-top: 130px;
    padding-right: 40px;
  }

  @media (max-width: 1024px) {
    &__content {
      h1 {
        padding-left: 100px;
        font-size: 35px;
        line-height: 40px;
      }
      p {
        padding-left: 100px;
        font-size: 18px;
        line-height: 21px;
      }
    }
    &__img {
      padding-right: 60px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-top: 70px;

    &__content {
      width: 100%;
      padding: 20px;
      text-align: center;
      h1 {
        padding-top: 100px;
        padding-left: 0;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
      }
      h3 {
        padding-left: 0;
        text-align: center;
      }
      p {
        padding-left: 0;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
        max-width: 90%;

        padding-left: 40px;
        &::before {
         display: none;
          
        }
      }
    }
    &__img {
      display: none;
    }
  }

  @media (max-width: 480px) {
    &__content {
      width: 100%;
      padding: 20px;
      h1 {
        padding-top: 80px;
        font-size: 25px;
        line-height: 30px;
      }
      p {
        font-size: 14px;
        line-height: 17px;
        padding-left: 40px;
      }
    }
    &__img {
      display: none;
    }
  }
}

.email {
  font-weight: 700;
  color: inherit; 
  text-decoration: none; 
  &:hover {
    text-decoration: underline; 
  }
}

.discl {
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 30px;
  padding-left: 110px;
  @media (max-width: 480px) {
  padding: 30px;
  text-align: center;
  }
}
