.herosection {
  position: relative;
  width: 100%;
  background: url("../../assets/images/homepage.png") no-repeat center center; // Замените на путь к вашему изображению
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 79px;

  // Полупрозрачный затемняющий слой
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.5); // Затемнение
    z-index: 1;
  }

  @media (max-width: 767px) {
    background: url("../../assets/images/mobilehome.png") no-repeat center center; // Замените на путь к вашему изображению
    background-size: cover;
    background-position: top center; // Убедитесь, что изображение сдвигается вверх и выглядит лучше
    padding: 10px;
  }

  .herocontent {
    position: relative;
    z-index: 2;
    color: #fff;

    &__title {
      color: rgb(255, 255, 255);
      font-family: Azeret Mono;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0%;
      text-align: left;

      // Адаптивность заголовка
      @media (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 30px;
        line-height: 36px;
      }

      @media (min-width: 1024px) {
        font-size: 2.5rem;
      }
    }

    &__description {
      color: rgb(255, 255, 255);
      font-family: Azeret Mono;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0%;
      text-align: left;

      // Адаптивность текста
      @media (max-width: 768px) {
        line-height: 24px;
      }

      @media (min-width: 1024px) {
        font-size: 1.125rem;
      }
    }
  }
}

.aboutsection {
  background-color: #b0b0b0;
  padding: 130px 0 158px 64px;
  color: #fff;

  h1 {
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
  }

  p {
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 1024px;
  }

  button {
    margin-top: 30px;
    color: black;
    padding: 14px 35px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }

  button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Увеличенный box-shadow */
    transform: scale(1.05); /* Небольшой эффект увеличения */
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease; /* Плавные переходы */
  }

  @media (max-width: 1024px) {
    padding: 100px 20px;

    h1 {
      font-size: 35px;
      line-height: 40px;
    }

    p {
      font-size: 18px;
      line-height: 21px;
    }

    button {
      font-size: 18px;
      padding: 12px 30px;
    }
  }

  @media (max-width: 768px) {
    padding: 80px 15px;

    h1 {
      font-size: 30px;
      line-height: 35px;
    }

    p {
      font-size: 16px;
      line-height: 19px;
    }

    button {
      font-size: 16px;
      padding: 10px 25px;
    }
  }

  @media (max-width: 480px) {
    padding: 60px 10px;

    h1 {
      font-size: 25px;
      line-height: 30px;
    }

    p {
      font-size: 14px;
      line-height: 17px;
    }

    button {
      font-size: 14px;
      padding: 8px 20px;
    }
  }
}

.productsection {
  display: flex;
  flex-wrap: wrap;

  .productsound,
  .productmusic {
    background-color: #919191;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productmusic {
    background-color: #625f5f;
  }

  button {
    margin-top: 30px;
    color: black;
    padding: 14px 35px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }

  button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Увеличенный box-shadow */
    transform: scale(1.05); /* Небольшой эффект увеличения */
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease; /* Плавные переходы */
  }

  @media (min-width: 768px) {
    .productsound,
    .productmusic {
      width: 50%; /* На экранах от 768px и выше блоки занимают по 50% ширины */
    }
  }

  @media (max-width: 767px) {
    .productsound,
    .productmusic {
      height: 300px; /* Уменьшение высоты блоков на меньших экранах */
    }

    button {
      font-size: 18px;
      padding: 12px 30px;
    }
  }

  @media (max-width: 480px) {
    .productsound,
    .productmusic {
      height: 200px; /* Еще большее уменьшение высоты блоков на самых маленьких экранах */
    }

    button {
      font-size: 16px;
      padding: 10px 25px;
    }
  }
}
